.carousel {
  width: 50vw;
  height: 300px;
  margin: 0rem auto;
  // position: relative;

  .image {
 
    opacity: 0.4;

    transform: scale(0.75);
    transition: all 0.4s;
    border-radius: 10px;
    transform: translateY(-50px);
    height: 300px;
    
 
    // opacity: 0;

    img {
      border-radius: 10px;

      // position: absolute;
      // left: 0;
    }

    &.active {
      transform: scale(0.9);
      min-width: 380px;
      left: -70px;
      position: relative;
      // margin: 0 auto;
      z-index: 2;
      opacity: 1;
    }

    &.onLoad_animate{
      transform: translateY(50px);
    }
  }
}