.container {
  display: flex;
  // align-items: center;
  gap: 10px;
  cursor: pointer;

  .checkbox {
    margin-top: 3.5px;
    min-height: 25px !important;
    min-width: 25px !important;
    max-width: 25px !important;
    max-height: 25px !important;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .check {
      min-height: 7px;
      min-width: 7px;
      max-height: 10px;
      max-width: 10px;
      background-color: var(--color-primary);
      border-radius: 50%;
    }
  }

  .clause {
    h4 {
      font-weight: 500;
      font-size: 15px;
      font-style: italic;
    }
  }
}
